$grids: ( 
    // suffix, media, container width, media for classes: visible, hidden
    ('', all ),
    ('-sm', (max-width: 992px), 750px, '(min-width: 768px)and(max-width: 992px)' ),
    ('-xs', (max-width: 768px), 480px, (max-width: 768px)  ),
    ('-xm', (max-width: 480px) ),
    ('-xn', (max-width: 360px) ),
    ('-mm', (max-width: 320px) ),
    ('-md', (min-width: 992px), 970px, '(min-width: 992px)and(max-width: 1200px)'  ),
    ('-lg', (min-width: 1200px), 1170px ),
    ('-ll', (min-width: 1600px), 1570px )
    
    //,('-print', print )
);


$prefixes: ( '-o-', '-ms-', '-moz-', '-webkit-' );


@mixin echo($values,$prefix: false){ 
    @each $k, $v in $values { 
        @if $prefix {  #{$prefix + $k}: $v; }
        #{$k}: $v;
    } 
}

@function cross($name,$value:''){
    $result: ();
    @each $prefix in $prefixes { $result: map-merge($result, ($prefix + $name : $value)); }
    @return map-merge($result, ($name : $value));
}


@mixin duration($sec: 0.25s){
    @include echo(cross(transition-duration,$sec)); 
}
@mixin property($value){
    @include echo(cross(transition-property,$value)); 
}
@mixin delay($value){
    @include echo(cross(transition-delay,$value)); 
}
@mixin filter($value){
    @include echo(cross(filter,$value)); 
}
@mixin opacity($value){
    filter:Alpha(Opacity=($value * 100));
    @include echo(cross(opacity,$value)); 
}
@mixin trans($x:0%,$y:0%){
    @include echo(cross(transform,translate($x,$y))); 
}
@mixin mixf($name, $func, $value){
    @each $prefix in $prefixes { #{$name}: #{$prefix + $func + '(' + $value + ')' }; }
    #{$name}: #{$func + '(' + $value + ')'};
}
@mixin side($name,$suffix,$prop,$value){
    #{$name}x#{$suffix} {
        #{$prop} : $value;
    }
    #{$name}#{$suffix} {
        #{$prop}-top : $value; 
        #{$prop}-bottom : $value;
    }
    #{$name}h#{$suffix} {
        #{$prop}-left : $value; 
        #{$prop}-right : $value;
    }
    
    #{$name}t#{$suffix} {
        #{$prop}-top : $value;
    }
    #{$name}b#{$suffix} {
        #{$prop}-bottom : $value;
    }
    #{$name}l#{$suffix} {
        #{$prop}-left : $value;
    }
    #{$name}r#{$suffix} {
        #{$prop}-right : $value;
    }
}
@mixin side-focus($name,$prop,$value,$sub:''){
    #{$name}x, #{$name + 'x-h:hover'}, #{$name + '-h:focus'} {
        #{$prop}#{$sub} : $value;
    }
    #{$name}, #{$name + '-h:hover'}, #{$name + 'v-h:focus'} {
        #{$prop}-top#{$sub} : $value;
        #{$prop}-bottom#{$sub} : $value;
    }
    #{$name}h, #{$name + 'h-h:hover'}, #{$name + 'h-h:focus'} {
        #{$prop}-left#{$sub} : $value;
        #{$prop}-right#{$sub} : $value;
    }
    #{$name}t, #{$name + 't-h:hover'}, #{$name + 't-h:focus'} {
        #{$prop}-top#{$sub} : $value;
    }
    #{$name}b, #{$name + 'b-h:hover'}, #{$name + 'b-h:focus'} {
        #{$prop}-bottom#{$sub} : $value;
    }
    #{$name}l, #{$name + 'l-h:hover'}, #{$name + 'l-h:focus'} {
        #{$prop}-left#{$sub} : $value;
    }
    #{$name}r, #{$name + 'r-h:hover'}, #{$name + 'r-h:focus'} {
        #{$prop}-right#{$sub} : $value;
    }
}

@mixin distance($name,$suffix,$value){
    #{$name}t#{$suffix} {
        top : $value;
    }
    #{$name}b#{$suffix} {
        bottom : $value;
    }
    #{$name}l#{$suffix} {
        left : $value;
    }
    #{$name}r#{$suffix} {
        right : $value;
    }
}

@mixin row($size){
    margin-left:-$size + px;
    margin-right:-$size + px;
	&,&>*{
    	&>[class*='col-']{
    		padding-left: $size + px;
    		padding-right: $size + px;
    	}
	}
}
@mixin padding-h($size){
    padding-left: $size + px;
    padding-right: $size + px;
    @content
}
@mixin clearfix(){
    &:before,&:after{ 
        content: " ";
        clear: both;
        display: table; 
    }
    @content
}


@mixin bg($index){ .bg#{$index}, .bg#{$index}-h:hover{ @content } }


@mixin radial($value){ @include mixf(background, radial-gradient, $value); }
@mixin linear($value){ @include mixf(background, linear-gradient, $value); }
@mixin as($value){ @include echo( cross(appearance,$value) ); }
@mixin placeholder(){ &::-webkit-input-placeholder, &:-moz-placeholder{ @content } }
@mixin all(){ &,&:active,&:hover,&:visited,&:focus{ @content } }
@mixin scale($value: 1.2){ @include echo( cross(transform, scale($value)) ); }

@mixin keyframes($name) {
    @-o-keyframes #{$name} { @content; }
    @-moz-keyframes #{$name} { @content; }
    @-webkit-keyframes #{$name} { @content; }
    @keyframes #{$name} { @content; } 
}

@include keyframes(spinner-animate){
    from { @include echo( cross(transform, rotateZ(0deg)) ); }
    to { @include echo( cross(transform, rotateZ(360deg)) ); }
}

.rotation{
    @include echo( cross(animation, spinner-animate 3s infinite linear) );
    position:relative;
}
.fa-spinner{
    @extend .rotation;
    top:1px;
}
.glyphicon-refresh.active{
    @extend .rotation;
}
@include keyframes(ball-animate){
    0% { @include scale(.7); @include opacity(.8); }
    25% { @include scale(1.2); @include opacity(1); }
    50% { @include scale(.7); @include opacity(.8); }
    75% { @include scale(.7); @include opacity(.6); }
    100% { @include scale(.7); @include opacity(.4); }
}

.loading-icons{
    &>*{
        @include echo( cross(animation, ball-animate 1s infinite linear) );
        border-radius: 100%;
        position: relative;
        display: block;
        width: 15px;
        height: 15px;
        background-color: #877683;
        float: left;
        width: 13px;
        height: 13px;
        top: 1px;
        margin-right: 4px;
        &:last-child{ margin-right: 0px; }
        &:nth-child(2){ @include echo( cross(animation-delay, .25s) ); }
        &:nth-child(3){ @include echo( cross(animation-delay, .5s) ); }
    }
}


.no-wrap{white-space: nowrap;}
.break{ @include echo(cross(word-break,break-word)); }
.no-break{ @include echo(cross(word-break,normal)); }
.justify{text-align: justify;}


//.shadow1{ @include echo( cross(box-shadow,inset 0px 0px 10px 5px rgba(0, 0, 0, .15)) ); }
    

//rotate x
@each $v in 180 
{ .rot#{$v}x, .rot#{$v}x-h:hover{ @include echo( cross(transform, rotateX( $v + deg )) ); } }
//rotate y
@each $v in 90 
{ .rot#{$v}y, .rot#{$v}y-h:hover{ @include echo( cross(transform, rotateY( $v + deg )) ); } }
//rotate z
@each $v in -90, -45, -270, 0, 45, 90 
{ .rot#{$v}z, .rot#{$v}z-h:hover{ @include echo( cross(transform, rotateZ( $v + deg )) ); } }


%none{ display: none !important; }
%block{ display: block;}
%cell{
    float: none;
    display: table-cell;
    vertical-align: middle;
}
%tbl{ display: table; &>*{ @extend %cell; }}

*, *:before, *:after{ @include echo( cross(box-sizing, border-box) ); }

x{ @extend %block;}


xs{color: #F00;}

img{
    border: 0;
    vertical-align: middle;
    max-width: 100%;
}
textarea{ 
    @include echo( cross(resize,vertical) ); 
    max-width: 100%;
    resize: vertical;
}
label{
    @extend %block;
    font-weight: inherit;
    margin: 0px;
    padding: 0px;
}
iframe,video{ @extend %block; }


.mix-input:not(input),.mix-btn:not(button){ @extend %tbl; }

.no-outline{outline:none;}

.no-select{ @include echo( cross(user-select, none) ); }
.select{ @include echo( cross(user-select, initial) ); }
.no-event{ @include echo( cross(pointer-events, none) ); }
.event{ @include echo( cross(pointer-events, auto) ); }

.overline{text-decoration: overline;}
.middline{text-decoration: line-through;}
.underline{text-decoration: underline;}
.noneline{text-decoration: none;}

.pointer{cursor: pointer;}
.move{cursor: move;}
.not-allowed{cursor: not-allowed;}

.overlay{
    position: absolute;
    display: block;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

 
.duration150{ @include duration(.15s); }
.duration, .duration250{ @include duration(.25s); }
.duration400{ @include duration(.4s); }
.duration500{ @include duration(.5s); }
.duration1000{ @include duration(1s); }
.no-duration{ @include duration(.0s !important); }


.overflow{overflow: hidden;}
.overflow-x{overflow-x: hidden;}
.overflow-y{overflow-y: hidden;}
.scroll-x{overflow-x: scroll;}
.scroll-y{overflow-y: scroll;}
.auto-x{overflow-x: auto;}
.auto-y{overflow-y: auto;}

.dotted,.dashed,.solid{border-width: 0px;}
.dotted{border-style: dotted;}
.dashed{border-style: dashed;}
.solid{border-style: solid;}


//opacity
@each $size in 50, 70, 80, 90 {
    #{'.o' + $size}, #{'.o' + $size + '-h:hover'} { @include opacity( 0.01 * $size ); }
}
.o,.o-h:hover{ @include opacity(0); }
.no-o,.no-o-h:hover{ @include opacity(1); }

%hide{
    @include duration(.25s);
    @include echo( cross(pointer-events, none) );
    @include opacity(0);
    z-index: -1;
}
%show{
    @include duration(.25s);
    @include echo( cross(pointer-events, auto) );
    @include opacity(1);
    z-index: 1;
}

.no-scale{
    @include scale(1);
}


.view-fake, .fakeView{
    display: none;
    &.none-fake,&.fakeNone{display: block;}
}



//background color
@include bg(1){background-color: #57b230;}
@include bg(2){background-color: #ffffff;}
@include bg(3){background-color: #f3f3f3;}

@include bg(5){background-color: #f7f6f3;}
@include bg(6){background-color: #eff0ea;}


.no-bg{background-color: transparent;}
 
 
//color 
@each $key, $value in 
(1, #000), 
(2, #FFF),
(3, #57b230),
(4, #4270af)
{ #{'.c' + $key}{ color: $value; } }

 
 

.lv{ @include linear( (to bottom, rgba(255,255,255,0.3) 0%, rgba(0,0,0,0.0) 100%) ); }
.blur{ @include echo( cross( filter, blur(4px) ) ); }


//z-index
.back{z-index:-1;}
.front{z-index:1;}
@each $size in 1, 2 { #{'.z' + $size} { z-index:$size; } }


//border-radius 
.r{border-radius:100%;};
//@each $size in 3, 5 { #{'.r' + $size} { border-radius:$size + px; } }


//border 
//@each $key, $value in 
//(1, solid 1px #c3c3c5),
//(2, solid 1px #7e6c72),
//(3, solid 1px #ededed) 
//{ @include side-focus('.b' + $key, border, $value); }


//border-width 
//@each $size in 1, 2
//{ @include side-focus('.bw1', border, $size, '-width'); }

.b-h:hover{border-color:transparent;}
.b:not(:hover){border-color:transparent;}
.no-b{border-color:transparent;}


.repeat{background-repeat:repeat;}


//line-height 
.lh{line-height: 1;}
@each $size in 18, 20{ #{'.lhx' + $size} { &, &>*{ line-height: 0.1 * $size; } } }

.mix-hide{
    @extend %hide;
}
.mix-show, .mix-hide.mix-show{
    @extend %show;
}



//position
.relative{position: relative;}
.absolute{position: absolute;}
.static{position: static;}

.st{ position: absolute; top: 0px; left: 0px; right: 0px;}
.sb{ position: absolute; bottom: 0px; left: 0px; right: 0px;}
.sl{ position: absolute; top: 0px; left: 0px; bottom: 0px;}
.sr{ position: absolute; top: 0px; right: 0px; bottom: 0px;}

.slt{ position: absolute; top: 0px; left: 0px;}
.slb{ position: absolute; bottom: 0px; left: 0px;}
.srt{ position: absolute; top: 0px; right: 0px;}
.srb{ position: absolute; bottom: 0px;; right: 0px;}

.fixed{position:fixed;}



// to side translate
.middle-t{ @include trans(0%,0%);};
.st-t{ @include trans(0%,-100%);}
.sb-t{ @include trans(0%,100%);}
.sl-t{ @include trans(-100%,0%);}
.sr-t{ @include trans(100%,0%);}

@each $indent in 5, 10 {
    .st#{$indent}x-t{ @include trans(0%, -$indent + px);}
    .sb#{$indent}x-t{ @include trans(0%, $indent + px);}
    .sl#{$indent}x-t{ @include trans(-$indent + px, 0%);}
    .sr#{$indent}x-t{ @include trans($indent + px, 0%);}
    .inner-move#{$indent}:hover{
        .stx{ @extend .st#{$indent}x-t; }
        .sbx{ @extend .sb#{$indent}x-t; }
        .slx{ @extend .sl#{$indent}x-t; }
        .srx{ @extend .sr#{$indent}x-t; }
    }
}
@each $percent in 50 {
    .st#{$percent}-t{ @include trans(0%, -$percent + %);}
    .sl#{$percent}-t{ @include trans(-$percent + %, 0%);}
}


html{ 
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    min-height:100%; 
}

body{
    @extend .break;
    margin: 0;
    font-family:"Roboto", sans-serif;
    line-height: 1.42857143;
    background-repeat: repeat;
    background-color: #eff0ea;
    overflow-x: hidden;
    overflow-y: scroll;
	min-height: 100%;
    font-size: 14px;
	font-weight: normal;
    color: #222222; 
	text-align: left;
	position: relative;
	&>.inner{
	    position: relative;
		overflow: hidden;
        min-height: 800px;
        padding: 0px 0px 1000px;
	}
	&>.overlay{
	    @extend .no-event;
	    z-index: -1;
	}
}

main{min-height: 200px;}
footer{
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

p{
    margin-top: 0px;
    margin-bottom: 5px;
}


h1, h2, h3, h4{
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    margin: 0px;
    line-height: inherit;
    color: inherit;
}

/*
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    margin: 0px;
    line-height: inherit;
    color: inherit;
}
*/
a{
    @extend .duration;
    @include all(){ 
        text-decoration: none;
        color: inherit; outline: none; cursor: pointer; 
    }
	.img &, &.img{ 
	    display: block;
	    &:hover{
	        @extend .o90;
	    }
    }
}
[dl-swiper]{cursor: move;}

.content{
    a:hover{ @extend .underline; }
    h1,h2,h3,h4,h5,h6,p{margin-bottom: 20px;}
    ul{
        margin-bottom: 20px;
        li{margin-bottom: 10px;}
    }
    table{
        td,th{padding-right: 20px;}
    } 
    
}

.mix-col{
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.container{ 
    @extend .ct;
    @include padding-h(15); 
    @include clearfix();
}

@each $suffix, $media, $container, $additional in $grids {
//begin
    
    .visible#{$suffix}{ @extend %none; }
    
    $i: 12;
    @while $i > 0 {
        .col#{$suffix}-#{$i}{ @extend .mix-col; }
        $i: $i - 1;
    }
    @media #{$media} { 
        $i: 12;
        @while $i > 0 {
            .col#{$suffix}-#{$i}{
                @extend .lt#{$suffix};
                width: 100 * $i / 12  + %;
            }
            $i: $i - 1;
        }
        
        
        .clearfix#{$suffix}, .clear#{$suffix}{ @include clearfix(); }
        
        //row
        @each $size in 0, 5, 7, 10, 15, 25, 35 
        { #{'.row' + $size + $suffix} { @extend .clearfix#{$suffix}; @include row($size); } }
        
        
        @if $suffix == '' {
            .row{ @extend .row15; }
        }
        
        @if $container { .container{ width:$container; } }
        
        @if $suffix == '-xm' {
            .container{ max-width: 100%; }
        }
        
        

        .tbl#{$suffix}{ display:table; &>*{ float:none !important; display:table-cell; vertical-align:middle; } }
        .vc#{$suffix}{&, & td, &.tbl>*, &[class*='tbl-']>*{vertical-align:middle;}}
        .vt#{$suffix}{&, & td, &.tbl>*, &[class*='tbl-']>*{vertical-align:top;}}
        .vb#{$suffix}{&, & td, &.tbl>*, &[class*='tbl-']>*{vertical-align:bottom;}}
        .tl#{$suffix}{text-align:left;}
        .tc#{$suffix}{text-align:center;}
        .tr#{$suffix}{text-align:right;}
        .lt#{$suffix}{float:left;}
        .ct#{$suffix}{margin-left:auto;margin-right:auto; float:none;}
        .rt#{$suffix}{float:right;}
        
        
        .string#{$suffix}{display:inline-block;}
        .inline#{$suffix}{display:inline;}
        .overflow#{$suffix}{overflow:hidden;}
        .block#{$suffix}{display:block; &.tbl, &[class*='tbl-']{&, &>*{display:block;}}}
        .italic#{$suffix}{font-style:italic;}
        .wt9#{$suffix}{font-weight:900;}
        .wt8#{$suffix}{font-weight:800;}
        .wt7#{$suffix}{font-weight:700;}
        .wt6#{$suffix}{font-weight:600;}
        .wt5#{$suffix}{font-weight:500;}
        .wt4#{$suffix}{font-weight:400;}
        .wt3#{$suffix}{font-weight:300;}
        .wt2#{$suffix}{font-weight:200;}
        .wt1#{$suffix}{font-weight:100;}

        .uppercase#{$suffix}{text-transform:uppercase;}
        .align#{$suffix}{
            &>*{
                text-align:center; 
                &>*{margin:auto;}
                &:last-child{text-align:right ;&>*{float:right;}} 
                &:first-child{text-align:left; &>*{float:left;}}
            }
        }
        
        //font-size
        @each $size in 12, 14, 16, 18, 20, 21, 24, 30, 32, 36, 40, 48, 60, 62
        { #{'.f' + $size + $suffix} { font-size:$size + px; } }
        
        //padding
        @each $size in 0, 5, 10, 15, 20, 25, 30, 40, 50, 60, 70, 100
        { @include side('.pd' + $size, $suffix, padding, $size + px); }
        
        //margin
        @each $size in 0, 5, 10, 15, 20, 30, 35, 40, 50, 60, 70, 80, 90
        { @include side('.mg' + $size, $suffix, margin, $size + px); }
        
        //positions by sides 
        @each $size in 1, 2 
        { @include distance('.d' + $size, $suffix, $size + px); }
        
        
        #{'.w0' +  $suffix} { width: 0px; }
        #{'.w1' +  $suffix} { width: 1px; }
        #{'.w' +  $suffix} { width: 100%; }
        #{'.min-w' + $suffix} { min-width: 100%; }
        #{'.max-w' + $suffix} { max-width: 100%; }
        #{'.max-wAuto' + $suffix},#{'.max-w-auto' + $suffix} { max-width: none; }
        //@each $size in 100 {
        //    #{'.w' + $size + $suffix} { width:$size + px; }
        //    #{'.min-w' + $size + $suffix} { min-width:$size + px; }
        //    #{'.max-w' + $size + $suffix} { max-width:$size + px; }
        //}
        
        #{'.vh' +  $suffix} { height: 100%; }
        #{'.min-vh' + $suffix} { min-height: 100%; }
        #{'.max-vh' + $suffix} { max-height: 100%; }
        
        //@each $size in 100 {
        //    #{'.h' + $size + $suffix} { height:$size + px; }
        //    #{'.min-h' + $size + $suffix} { min-height:$size + px; }
        //    #{'.max-h' + $size + $suffix} { max-height:$size + px; }
        //}
        
        @if not $additional {
            .visible#{$suffix}{display:block !important;}
            .hidden#{$suffix}{display:none !important;}
        }
    }
 
    @if $additional {
        
        @media #{$additional} {
            .visible#{$suffix}{display:block !important;}
            .hidden#{$suffix}{display:none !important;}
        }
    }
    
    @if $container {
        @if $additional {
            @media #{$additional} {
                .container#{$suffix}{
                    @include clearfix();
                    @include padding-h(15); 
                    width: $container;
                    margin: auto;
                }
            }
        } @else {
            @media #{$media} {
                .container#{$suffix}{
                    @include clearfix();
                    @include padding-h(15); 
                    width: $container;
                    margin: auto;
                }
            }
        }
        
    }
    
//end  
}

.visible-print{display:none !important;}
@media print{
    .hidden-print{
        display:none !important;
    }
    .visible-print{
        display:block !important;
    }
}

@media(min-width: 1280px)and(max-width: 1600px){
    .container{
        width: 1260px;
    }
}


.glyphicon-chevron-down,.chevron-down,
.glyphicon-chevron-up,.chevron-up{
    @extend .duration;
    display: inline-block;
    position: relative;
    &.active{
        @extend .rot180x;
    }
}
.glyphicon-chevron-left,.glyphicon-chevron-right{
    @extend .duration;
}

.mix-chevron:hover{
    .glyphicon-chevron-left{
        @extend .sl5x-t;
    }
    .glyphicon-chevron-right{
        @extend .sr5x-t;
    }    
}





input,textarea,select{
    @include all(){
        outline: none;
    }
	&[required], &[dl-required]{
		@extend .duration500;
	}
}
form{
    position: relative;
    &:hover{
        input, textarea, select{
    		&[required], &[dl-required]{
    			&.ng-invalid{border-color:#F00;}
    		}
    	}
    	oi-select{
    	    &[required], &[dl-required]{
    			&.ng-invalid{
    			    .select-search{border-color:#F00;}
    			}
    		}
    	}
    }
}

.openSans{font-family:'Open Sans';}
.h1{
    font-size: 48px;
    font-weight: 300;
    margin-top: 0px;
    margin-bottom: 0px;
    color:#000;
}
.h2{
    font-size: 24px;
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 20px;
    color:#000;
}




.logo1{
	padding-bottom: 15px;
}
.logo2{
	padding-bottom: 5px;
}
.social2{
    @extend .clearfix;
	display: block;
	padding: 0px 0px;
	margin: 0px -4px;
	a{
		@extend %tbl;
		@extend .duration;
		float: left;
		height: 32px;
		width: 32px;
	    margin: 0px 7px 7px 0px;
	    border-radius: 100%;
		width: 24px;
		height: 24px;
		text-align: center;
		color: #acd998;
		font-size: 12px;
		.overlay{
		    @extend .duration;
		    border-radius: 100%;
		    border: solid 2px #acd998;
		}
		i{
		    position: relative;
			&.fa-facebook:before{
			    position: relative;
                top: 1px;
			}
            &.fa-youtube-play:before{
			  
			}
		}
		&:hover{
		    color: #57b230;
		    .overlay{
    		    @include scale(1.2);
            	border-color: #57b230;
		    }
		}
	}
}
.ln1{
	ul{
		padding: 0px;
	}
	h4{
		margin: 0px 0px 20px;
	}
	h5{
		font-weight: bold;
	}
	li{
		display: block;
		padding: 0px 0px 10px 0px;
		a{
			color:#000;
		}
	}
	p{
		a{
			color:#000;
		}
	}
}

.ln2{
    border: solid 1px #eee;
	p{
		a{
			color: #089aed;
			font-weight: bold;
		}
	}
}


.topMenu{
    @extend %hide;
    position: fixed;
    top: -100px;
    left: 0px;
    right: 0px;
    border-bottom: solid 5px #57b230;
    .tbl{
        height: 60px;
    }
    &.open{
        @extend %show;
        top: -1px;
        z-index: 2;
    }
    
}
.fixNav{
    display: block;
    position: relative;
    top: 1px;
    ul{
        display: block;
        padding: 0px;
        margin: 0px;
        li{
            @extend %tbl;
            height: 60px;
            padding: 0px;
            margin: 0px;
            float: left;
            text-align: center;
            a{
                padding: 0px 15px;
                margin: 0px;
                font-size: 16px;
            }
            &:hover,
            &.active{
                a{
                    color: #FFF;
                    background-color: #57b230;
                }
            }
        }
    }
}
.nav1{
    display: block;
    position: relative;
    top: 1px;
    ul{
        @extend .clearfix;
        display: block;
        padding: 0px;
        margin: 0px;
        li{
            display: block;
            padding: 0px;
            margin: 0px;
            float: left;
            margin-right: 15px;
            a{
                display: block;
                padding: 0px;
                margin: 0px;
                font-size: 14px;
                padding: 4px 15px 3px;
                border-radius: 4px;
            }
            &.active{
                a{
                    color:#FFF;
                    background-color: #008400;
                }
            }
        }
    }
}

@mixin mixTopLink($color){
	background-color: $color;
	&:hover{background-color: $color - #222;}
}


.mainNav{
    @extend .no-select;
	display: block;
	width: 100%;
	&>ul{
	    @extend %tbl;
		width: 100%;
		padding: 0px;
		margin: 0px;
		height: 82px;
        max-height: 82px;
		&>li{	
			text-align: center;
			position: relative;
			width: 20%;
			a{
				display: block;
				font-size: 16px;
				div{
				    height: 82px;
                    max-height: 82px;
					i{
						svg{
							display: block;
							width: 22px;
							max-height: 60px;
							.st0{
								@extend .duration;
								fill: #008406;
							}
						}	
					}
				}
			}
			&>a{
				text-align: center;
				color: #000;
				padding: 0px 10px;
				
				&>*{
					display: inline-table;
					text-align: center;
					&>*{
					    vertical-align: middle;
					    display: table-cell;
					}
				}
				span{
					padding-left: 10px;
				}
				i{
				    @extend .duration;
					font-size: 26px;
					color: #369e36;
				}	
			}
			&:nth-child(1)>a>* i svg{
				width: 22px;
			}			
			&:nth-child(2)>a>* i svg{
				width: 22px;
			}
			&:nth-child(3)>a>* i svg{
				width: 24px;
			}
			&:nth-child(4)>a>* i svg{
				width: 26px;
			}
			&:nth-child(5)>a>* i svg{
				width: 26px;
			}
			ul{
			    @extend %hide;
			    display: block;
				z-index:-2;
				padding: 10px 0px;
				margin: 0px;
				top: 50%;
				left: 0px;
				position: absolute;
				text-align: left;
				min-width: 100%;
				a{
					color:#fff;
					white-space: nowrap;
					padding: 10px 30px 10px 20px;
					i{
					    display: inline-block;
					    margin-right: 15px;
					}
					span{
					    display: inline;
					}
				}
				li{
				    
					display:block;
					a{
					    &,i{    
					        color:#fff;
					        svg{
    							.st0{
    								fill:#FFF;
    							}
    						}
					    }
					    &:hover{
    						background-color:#239613;
    					}
					}
				}
			}
			&:hover,
			&.active{
			    &>a{	
					background-color: #57b230;
					font-weight: normal;
					&,i{
						color: #fff;
						svg{
							.st0{
								fill: #FFF;
							}
						}
					}
				}
			}
			&:hover{
				&>ul{
				    @extend %show;
				    top: 100%;
					background-color:#57b230;
				    z-index: 2;
				}
			}	
		}
	}
}


.phone1{
    font-size: 24px;
    position: relative;
    top: 1px;
}
.phone2{
    @include all(){
        color: #000;
    }
	display: block;
	font-weight: 500;
	font-size: 30px;	
	line-height: 24px;
	margin-bottom: 10px;
	white-space: nowrap;
	span{
		vertical-align: middle;
		display: inline-block;
		line-height: 28px;
	}
	i{	
		vertical-align: bottom;
		margin-right: 10px;
		position: relative;
		top: 7px;
		svg{		
			width: 42px;
			.st0{fill: #343434;}
		}
	}
}
.mail1{
    @extend .break;
    @include all(){
        color: #089aed;
    }
	display: block;
	text-decoration: none;
	font-weight: 500;
	font-size: 26px;	
	line-height: 20px;
	margin-bottom: 14px;
}
.mail2{
    @include all(){
        color: #089aed;
    }
	font-weight: 400;
	font-size: 30px;	
	span{
	    @extend .duration;
		vertical-align: middle;
		display: inline-block;
		line-height: 28px;
		border-bottom: solid 2px #089aed;
		&:hover{
		    @extend .o80;
			border-bottom: solid 2px transparent;
		}
	}
	i{	
		vertical-align: bottom;
		margin-right: 10px;
		margin-left: 2px;
		position: relative;
		top: 9px;
		svg{		
			width: 34px;
			.st0{fill: #343434;}
		}
	}
}
.ln3{
	h4{
		margin-top: 0px;
	}
	h2{
		margin-left: -1px;
	}
	ul{
		padding: 10px 0px 0px 0px;
		li{
			display: block;
		}
	}
	div{
		p{
			padding: 0px;
			margin-bottom: -3px;
		}
	}
	a:hover{
	    @extend .o70;
	}
}
.mga{
	padding-left: 0px;
    padding-right: 0px;
    margin-left: -1px;
}


.icon1{
	display: block;
	i{
		svg{
			.st0{
				fill: #D9D5C4;
			}
		}
	}
}
.icon2{
    display: block;
    &>svg {
        position: relative;
        display: block;
        width: 32px;
    }
}


.bold0{
	font-weight: bold;
}




.btn0{
	@extend .no-select;
	@include all(){
	    color: #fff;
	}
	border-radius: 5px;
	display: inline-block;
	background: #008400;
	border: 0;
	cursor: pointer;
	font-size: 16px;
	padding: 8px 16px 6px;
    height: 36px;
}
.btn1{
    @extend .duration;
    @extend .no-select;
    @include all(){
        color: #fff;
    }
	border-radius: 5px;
	display: block;
	background: #008400;
	border: 0;
	cursor: pointer;
	font-size: 30px;
	font-weight: 300;
	padding: 10px 32px;
	i{
	    @extend .duration;
		display: inline-block;
		position: relative;
		margin-left: 20px;
		left: 0px;
		svg{	
			width: 38px;
			margin-bottom: -9px;
			padding: 0px;
		}
	}
	&:hover{
		background: #008400 + #111;
		i{
		    left: 10px;
		}
	}
	&.v2{
	    width: 364px;
	    max-width: 100%;
	    font-size: 24px;
	    height: 50px;
	    padding: 8px 32px;
	    position: relative;
	    i{
    		position: absolute;
    		left: auto;
    		right: 20px;
    		margin-left: 0px;
    		top: 7px;
    		svg{		
    			width: 32px;
    		}
    	}
    	&:hover{
    		i{
    		    right: 10px;
    		}
    	}
	}
	@media(max-width: 992px){
		font-size: 22px;
		padding: 9px 8px 9px 8px;
		i{
		    margin-left: 10px;
		    margin-right: 5px;
		    svg{
    			width: 29px;
    			margin-bottom: -7px;
		    }
		}
		&:hover{
    		i{
    		    left: 5px;
    		}
    	}
	}
}


.btn2{
    @extend .duration;
    @extend .no-select;
    @include all(){
        color: #fff;
    }
    border-radius: 5px;
	display: block;
	background: #008400;
	border: 0;
	cursor: pointer;
	font-size: 21px;
	font-weight: 300;
	padding: 10px 16px;
	span{
		padding: 10px 16px;
	}
	i{
		@extend .duration;
		display: inline-block;
		position: relative;
		left: 0px;
		svg{		
			width: 38px;
			margin-right: 15px;
			margin-bottom: -9px;
			padding: 0px;
		}
	}
	&:hover{
		background: #008400 + #111;
		i{
			left: 10px;
		}
	}
}
.btn3{
    @extend .duration;
    @extend .no-select;
    @include all(){
        color: #fff;
    }
    border-radius: 5px;
	cursor: pointer;
	display: inline-block;
	background: #008400;
	border: 0;
	margin: auto;
	font-size: 24px;
	font-weight: 300;
	padding: 9px 16px 9px 16px;
	width: 360px;
	max-width: 100%;
	position: relative;
	i{
		@extend .duration;
		display: inline-block;
		position: absolute;
        top: 10px;
        right: 10px;
		svg{
		    @extend .rot-270z;
			width: 28px;
			margin-bottom: -5px;
			padding: 0px;
			.st0{
				fill: #fff;
			}
		}
	}
	&:hover{
		background: #008400 + #111;
		i{
			top: 15px;
		}
	}
	
}


.sh1{
    @include echo( cross(box-shadow, 0px 0px 5px #B7B7B7) );
}

.btn4{
    display: block;
    background-color: #FFF;
    color: #000;
    font-size: 12px;
    font-weight: 500;
    padding: 10px;
    line-height: 14px;
    i{
        font-size: 16px;
        margin-right: 5px;
        color: #0d8541;
        &:before{
            @extend .duration;
            @extend .middle-t;
            display: block;
        }
        
    }
    &:hover{
        @extend .o80;
        .fa-arrow-left:before{
            @extend .sl5x-t;
        }
        .fa-arrow-right:before{
            @extend .sr5x-t;
        }
    }
}


.btn5{
    @extend .duration;
    @include all(){
        color: #fff;
    }
    @extend %tbl;
    border-radius: 5px;
    width: 100%;
    height: 50px;
    background-color: #acdf96;
	border: 0;
	font-size: 16px;
	font-weight: 300;
	text-align: center;
    &.active,
    &:hover{
        background-color: #008400;
    }
    @media(max-width: 992px){
        font-size: 22px;
    }
}
.btn1,.btn2,.btn3,.btn4,.btn5, .btn6, .btn7{
    &[disabled]{
        @extend .o70;
		cursor: not-allowed;
	}
}

.mixBtn{
    @extend .duration;
    @extend .no-select;
    position: relative;
    display: block;
    text-align: center;
    cursor: pointer;
    &[disabled]{
		@extend .o70;
		cursor: not-allowed;
	}
    &:not(button){
        @extend %tbl;
        &>*{
            position:relative;
            top: 0px;
        }
    }
    i{
        @extend .duration;
    }
    &:hover{
        i.icon2{ @extend .sr10x-t; }
        i.fa-long-arrow-right{
            
        }
        i.glyphicon-chevron-down{

        }
    }
}
.btn6{
    border: solid 2px #fdc689;
    height: 52px;
    padding: 0px 30px;
    border-radius: 5px;
    &:hover{border: solid 2px #fff200;}
}
.btn7{
    background-color: #4270af;
    &:hover{background-color: #32609f;}
    height: 52px;
    padding: 0px 30px;
    border-radius: 5px;
    &.v2{background-color: #40ae76; &:hover{background-color: #209e66;}}
    &.v3{background-color: #008400; &:hover{background-color: #007400;}}
}



.btn8{
    border: solid 1px #FFF;
    height: 44px;
    padding: 5px 20px;
}






.link1{
    @include all(){
        color: #089aed;
    }
    font-size: 16px;
    line-height: 18px;
    b{
        @extend .duration;
        border-bottom: dashed 2px #089aed;
        font-weight: normal;
    }
    &:hover{
        b{
            border-bottom: dashed 2px transparent;
        }
    }
}

.item1{
	@extend .duration;
	@extend .clearfix;
	@include echo( cross(box-shadow, 0 1px 5px rgba(0,0,0,.2) ) );
    margin: 0 0 70px;
    border: 0;
    background: #fff;
	position: relative;
	display: block;
	.left{
	    padding: 40px 40px 100px 40px;
	}
	.right{
	    padding: 0px;
	}
	.title{
		font-size: 48px;
		font-weight: 300;
		margin-top: 0px;
		margin-bottom: 30px;
	}
	.introtext{
		font-size: 20px;
		line-height: 24px;
		font-weight: 300;
	}
	&:hover{
	    @include scale(1.05);
        @include echo( cross(box-shadow, 0 1px 20px rgba(0,0,0,.4)) );
		.item1-btn{
		    @extend .no-o;
    		background: #008400 + #111;
    		i{
    			left:10px;
    		}
    	}
	}
	.controls{
		position: absolute;
		bottom: 30px;
		left: 30px;	
	}
	svg{
		.st0{
			fill: #FFF;
		}
	}
	.top,.right{
	    img{
	        width: 100%;
	    }
	}
	@media(max-width: 1200px){
	    .title{
    		font-size: 36px;
    		line-height: 42px;
    		margin-bottom: 20px;
    	}
    	.introtext{
            font-size: 16px;
            line-height: 20px;
    	}
	    .left{
    	    padding: 30px 5px 100px 25px;
    	}
    	.controls{
    		bottom: 20px;
    		left: 20px;	
    	}
	}
	@media(max-width: 768px){
	    .left{
    	    padding: 30px 25px 100px 25px;
    	}
	}
	
}

.item2{
	padding: 0px 15px;
	font-family: 'Open Sans';
	display: block;		
	text-align: left;
	
	&>.box{
		color: #aaadbf;
		position: relative;
		display: block;
		width: 480px;
		height: 130px;
		padding: 23px;
		background-color: #fff;
		text-decoration: none;
		border: solid 1px #d8d8d8;
		img{
			float: left;
			margin-right: 23px;
		}
		i{
			padding: 0px 10px;
			font-size: 18px;
			color: #5d82b2;
		}
		.title{
			display: block;
			margin-bottom: 5px;
			h5{	
				font-weight: bold;
				display: inline;
				font-size: 14px;
			}
		}
		.introtext{
			display: block;
			font-size: 12px;
			font-weight: 300;
		}
		time{
			font-weight: 300;
			color:#aaadbf;
		}
		&:hover{
			color: #000;
			.overlay{
				border: solid 3px #56b22f;
			}
		}
	}
	.overlay{
	    @extend .duration150;
	    @extend .no-event;
		border: solid 3px transparent;
	}
}
.slider-pro .item2{
    width: 300px;
    height: 150px;
}

.txt1{
    color: #a3a0a0;
    h1,h2,h3,h4,h5,h6{
        color:#000;
    }
	a{
        @include all(){
            color: #089aed;
        }
		text-decoration: none;
		&:hover{
		    @extend .o70;
		}
	}
}
.txt3{
	display: block;
	font-size: 36px;
	font-weight: 300;
	text-align: center;
}
.txt4{
	color: #57b230;
}
.txt5{
	margin-bottom: 26px;
	position: relative;
	display: block;
	img{
		padding: 0px 10px;
	}
}
.txt6{
	margin-bottom: 0px;
	position: relative;
	display: block;
	margin-bottom: -10px;
}


.footerCarousel{
	text-align: center;
	&>.inner{
		display: block;
		width: 1px;
		margin: auto;
		.owl-carousel{
			position: relative;
			left: -3300px;
			width: 6120px;
			margin-bottom: 30px;
			&:nth-child(2n){
				left: -3045px;
			}
		}
	}
}

.item3{
	display: block;
	width: 850px;
	max-width: 100%;
	font-size: 18px;
	margin: auto;
	p{
		display: block;
		color:#8e8b8b;
		margin-bottom: -4px;
		font-weight: 300;
	}
}

.lt4{
	padding: 10px 0px 0px 110px;
}

.textarea1{
	width: 100%;
	height: 132px;
	font-size: 16px;
	font-weight: 300;
	color: #000;
	padding-left: 10px;
	padding-top: 14px;
	max-width: 100%;
	border: solid 1px #e3e4e0;
}
.field1{
	position: relative;
	display: block;
	i{
	    display: none;
		position: absolute;
		right: 10px;
		top: 15px;
		cursor: pointer;
		font-size: 18px;
	}
	.ng-valid~i{
	    display: block;
	}
}
.bBurger{
    @extend %tbl;
	cursor: pointer;
	height: 50px;
	width: 44px;
	&>div{
		text-align: center;
		&>div{
			display: block;
			width: 100%;
			position: relative;
			top: -2px;
			height: 0px;
			&>div{	
			    @extend .duration;
				position: absolute;
				margin: auto;
				display: block;
				background-color: #55b23d;
				width: 100%;
				height: 4px;
				&:nth-child(1){
					top: -12px;
				}
				&:nth-child(2){
					top: 0px;
				}
				&:nth-child(3){
					top: 12px;
				}
			}
		}
		
	}
	&.open{
		&>div>div>div{	
			&:nth-child(1){
			    @extend .rot45z;
				top: 0px;				
			}
			&:nth-child(2){
			    @extend .rot90y;
			}
			&:nth-child(3){
				top: 0px;
				@extend .rot-45z;
			}
		}
	}
}


.menuTitle{
    @extend .duration;
	font-size: 24px;
	text-transform: uppercase;
	color:#000;
	position: relative;
    top: 1px;
}
.menuOuter{
	cursor: pointer;
	&:hover{
		.menuTitle{
		    @extend .o70;
		}
	}
}

.mobileLine{
    @extend .clearfix;
	.navMobile{
		@extend .duration;
		@extend .sr-t;
		@include property(transform);
	}
	&.open{
		.navMobile{
		    @extend .middle-t;
		}
	}
}
.navMobile{
    $hoverColor: #a8fe92;
    @extend .no-select;
    @extend .clearfix;
	position: absolute;
	right: 0px;
	z-index: 3;
	width: 500px;
	max-width: 100%;
	background-color: #55b23d;
	&>ul{
		margin: 0px;
		padding: 20px 40px;
		@media(max-width: 480px){
		    padding: 20px 30px;
		}
		&>li{
		    display: block;
			text-align: left;
			position: relative;
			a,.a{
			    @extend .duration;
			    color: #fff;
			    text-decoration: none;
			    cursor: pointer;
			}
			&>a,&>.a{
        	    display: block;
        		font-size: 30px;
        		font-weight: 300;
        		&>*{
					display: inline-table;
					height: 68px;
					&>*{
					    vertical-align: middle;
					    display: table-cell;
					}
				}
				span,.span{
        		    padding: 0px 20px;
        		}
        		i.left{
        		    width: 32px;
        			font-size: 26px;
        			svg{
        				display:block;
        				.st0{
        					@extend .duration;
        					fill: #fff;
        				}
        			}
        			
        		}
        		i.right{
        		    font-size: 24px;
        		    &:before{
        		        @extend .duration;
        		        display: block;
        		        position: relative;
        	            top: 1px;
        		    }
        		}
        		&:hover{
        			color: $hoverColor;
        			span,.span,i{
        			    color: $hoverColor;
        			}
        			i.left{
        				svg .st0{
        					fill: $hoverColor;
        				}
        			}
        		}	
			}
			&>ul{
			    @extend %hide;
			    position: relative;
			    overflow: hidden;
			    max-height: 0px;
			    z-index: -2;
        		margin: 0px;
        		padding: 0px 0px 0px 52px;
        		&>li{
        		    display: block;
        			text-align: left;
        			position: relative;
        			a{
        			    display: block;
        			    font-size: 24px;
        			    color:#FFF;
                        font-weight: 300;
                        padding: 7px 0px;
        			}
        		}
			}
			&.active{
			    &>a,&>.a{
			        i.right{
            		    &:before{
            		        @extend .rot180x;
            		    }
			        }
        		}
			    &>ul{
			        @extend %show;
    			    z-index: 1;
    			    max-height: 400px;
			    }
			}
		}
    }
}

.ln4{
    overflow: hidden;
	height: 200px;
	padding-top: 25px;
}



.lt1{
	padding-left: 30px;
	padding-right: 0px;
	padding-top: 20px;
}
.ln6{
	.item2{
		margin-bottom: 30px;
		padding: 0px;
		.box{
		    @extend .clearfix;
			width: 100%;
			height: 100%;
			time{
				font-size: 16px;
			}
			.title{
				h5{
					font-size: 16px;
				}
			}
			.introtext{
				font-size: 16px;
			}
		}
	}
	.controls{
		text-align: center;
	}
}


.slider-pro-overlay{
    @extend .overlay;
    @extend .no-event;
    z-index: 2;
    background: rgba(247, 246, 243, 0);
    @include linear( (to right, rgba(247, 246, 243,1) 0%, rgba(247, 246, 243, 0) 25%, rgba(247, 246, 243, 0) 75%, rgba(247, 246, 243,1) 100%) );
    @media(max-width: 500px){
        display: none;
    }
}
.slider-pro.v2 .sp-buttons{
    display: none;
}

.item5{
    width: 480px;
    padding-left: 40px;
	h4{
		margin-top: 0px;
	}
	ul{
		display: block;
    	padding: 0px;
    	margin: 0px;
		li{
			display: block;
			a{
				color: #089aed;
			}
			span{
				color: #959292;
			}
		}
	}
}

.loadbox{
    position: relative;
    width: 100%;
    overflow: hidden;
    &.open{
        min-height: 50px;
    }
}

.subform{
    @extend %hide;
    @extend .overlay;
    height: 100%;
    width: 100%;
    &>.box{
        @extend %tbl;
        width: 100%;
        height: 100%;
        &>.inner{
            text-align: center;
            text-shadow: 0px 0px 5px #FFF;
            .icon{
                &,i{
                    font-size: 40px;
                    color: #008400;
                }
            }
            .title{
                font-size: 16px;
                margin-top: 5px;
                color: #008400;
            }
            
        }
    }
    &.v2{
        &>.box{
            &>.inner{
                .icon{
                    &,i{
                        color: #000;
                    }
                }
                .title{
                    color: #000;
                }
                
            }
        }
    }
    &.thanks{
        &>.box>.inner{
	        .description{
	            font-size: 16px;
                margin-top: 5px;
	        }
	       .title{
	            font-size: 30px;
                margin: 5px 0px;
            }
            .eBtn{
                padding: 3px 30px 0px;
                float: none;
                margin: auto;
                font-weight: bold;
            }
        }
    }
    .img{
        @extend .duration400;
        @include scale(0.9);
        display: block;
        position: relative;
    }
    &.logo{
        .img{
            @extend .no-scale;
        }
    }
    &.open{
        @extend %show;
        
        &~*{
            @extend .blur;
        }
    }
    
}
.safari .subform.open{
    background-color:#f6f6f6;
} 


.rightControls1{
    position: fixed;
    right: 0px;
    top: 50%;
    z-index: 2;
    &>.inner{
        @extend .rot-90z;
        position: relative;
        top: 52px;
        width: 48px;
        height: 48px;
        .control{
            width: 200px;
            text-align: center;
            display: block;
            background-color: #57b230;
            color: #FFF;
            text-decoration: none;
            font-size: 20px;
            padding: 10px 20px;
            &:hover{
                background-color: #57b230 - #111;
            }
        }
    }
}


.modalWin{
    @extend .overlay;
    @extend %hide;
	color:#000;
	position: fixed;
	height: 100%;
	overflow: auto;
	z-index: -1;
    .subform > .box > .inner {
        color: #000;
        font-weight: bold;
        .title, .icon i{
            color: #000;
        }
    }
	
	&>.box{
		min-height: 100%;
		position: relative;
		padding: 5px;
		@media(min-width: 768px){
			padding: 70px 5px 50px;
		}
		
		&>.overlay{
    	    @extend .duration500;
    		background-color: rgba(0,0,0,0.5);
    	}
		
		.modalWinInner{
		    @extend .duration;
			@include scale(.5);
		    @include echo( cross(box-shadow, 0px 0px 20px #000) );
			position: relative;
			background-color: #FFF;
			margin: auto;
			width: 680px;
			max-width: 100%;
			position: relative;
			&>.box{
				padding: 15px 30px 0px;
			}
			.close{
				@extend .duration;
				@include scale(1.2);
				cursor: pointer;
				z-index: 2;
				position: absolute;
				top: 15px;
				right: 15px;
				i{
				    @extend .duration;
					font-size: 20px;
					color: #9b9a9a;
				}
				&:hover{
				    @extend .no-scale;
					i{
    					color:#000;
    				}
				}
			}
			.title{
				font-size: 24px;
				font-weight: 400;
			}
			.modalHeader{
				margin: 0px;
				padding: 15px 0px 5px;
			}
			.modalBody{
				margin-bottom: -20px;
			}
			.modalFooter{
			    @extend .clearfix;
				margin: 0px;
				padding: 40px 0px;
			}
		}
	}
	&.open{
	    @extend %show;
		&>.box{	
			.modalWinInner{
			    @include scale(1);
			}
		}
		z-index: 102;
	}
	&.order{
		.modalWinInner{
			width: 980px;
		}
	}
}


.table1{
    display: table;
    width: 100%;
    &>*{
        @extend .no-o;
        display: table-row;
        color: #8e8b8b;
        text-decoration: underline;
        &>*{
            display: table-cell;
            padding: 10px 15px;
            min-height: 40px;
            &:last-child{
                width: 120px;
            }
        }
        &:nth-child(2n+1){
            background-color: #f2efe9;
        }
        &:hover{
            background-color: #efe7d8;
            color: #089aed;
            text-decoration: underline;
        }
    }
}

.ui-accordion.accordion1{
    .ui-accordion-header{
        @extend .duration;
        @extend .clearfix;
        @include all(){
            outline: none;
        }
        display: block;
        cursor: pointer;
        padding: 8px;
        background-color:#fff9e7;
        border: none;
        color: #089aed;
        margin-bottom: 5px;
        .ui-accordion-header-icon{
            display: none;
        }
        .glyphicon-plus,.glyphicon-minus{
            float: left;
            margin-right: 10px;
            position: relative;
            top: 4px;
        }
        .glyphicon-minus{
            display: none;
        }
        .glyphicon-plus{
            display: block;
        }
        .title{
            @extend .duration;
            float: left;
            text-decoration: none;
            border-bottom: dotted 1px #089aed;
            margin: 2px;
            margin-right: 20px;
        }
        .additional{
            float: left;
            color: #969393;
            margin: 2px;
        }
        .format{
            color: #969393;
            float: right;
            margin: 2px;
        }
        &:hover{
            @extend .o70;
        }
        &.ui-state-active{
            background-color: #f0ffdf;
            color: #40ae76;
            .glyphicon-minus{
                display: block;
            }
            .glyphicon-plus{
                display: none;
            }
            .title{
                border-bottom: dotted 1px #40ae76;
            }
        }
    }
    .ui-accordion-content{
        background: none;
        border: none;
        text-align: center;
        color:#000;
    }
    &.v2{
        .ui-accordion-content{
            text-align: left;
            padding: 0px 10px;
        }
    }
}

.pagination1{
    display: inline-block;
    ul{
        @extend .clearfix;
        display: block;
        padding: 0px;
        margin: 0px;
        li{
            float: left;
            display: block;
            padding: 0px;
            margin: 7px;
            a,span{
                color: #56544f;
                display: block;
                font-size: 16px;
            }
            a{
                text-decoration: underline;
                &:hover{
                    color:#31a4e6;
                }
            }
        }
    }
}
.inputs1 .input2,
.input1{
    border-radius: 0px;
	width: 100%;
	height: 48px;
	font-size: 16px;
	font-weight: 300;
	color: #000;
	padding-left: 10px;
	border: solid 1px #e3e4e0;
	background-color: #FFF;
    &:focus{
        border-color: #888
    }
}
.input2{
    @extend .duration;
    border-radius: 4px;
    background-color: #f2efe9;
    border: solid 1px #8e8b8b;
    min-height: 42px;
    width: 100%;
    max-width: 100%;
    padding: 10px 10px;
    font-weight: normal;
}


.lbl1{
    font-size: 14px;
    font-weight: normal;
    margin: 5px 0px;
    span{
        font-size: 14px;
        color: #ff0000;
        margin-right: 5px;
        position: relative;
        top: 2px;
    }
    a{
        text-decoration: none;
        border-bottom: solid 1px transparent;
        &:hover{
            color: #089aed;
            border-bottom: solid 1px #089aed;
        }
    }
}
h5{
    font-size: 16px;
    font-weight: bold;
}
.item4{
    display: block;
    margin-bottom: 20px;
    &>.inner{
        display: block;
        text-decoration: none;
        .img{
            @extend %tbl;
            cursor: pointer;
            width: 100%;
            height: 280px;
            background-color:#efefef;
            &>.inner{
                text-align: center;
                position: relative;
                padding: 10px;
                img{
                    max-width: 100%;
                }
                .overlay{
                    @extend %hide;
                    @extend .duration500;
                    display: block;
                    background-color: #5fb53a;
                    background-color: rgba(95, 181, 58, 0.95);
                    color: #FFF;
                    font-weight: 500;
                    &>*{
                        @extend .duration500;
                        @extend %tbl;
                        @include scale(0);
                        width: 100%;
                        height: 100%;
                        text-align: center;
                    }
                }
            }
        }
        .title{
            display: block;
            margin-top: 10px;
            color: #000;
            font-weight: 500;
        }
        &:hover{
            .img{
                &>.inner{
                    .overlay{
                        @extend %show;
                        @extend .duration;
                        
                        &>*{
                            @extend .duration;
                            @extend .no-scale;
                        }
                    }
                }
            }
        }
    }
}

.item6{
    display: block;
    margin-bottom: 20px;
    &>.inner{
        display: block;
        background-color: #FFF;
        .img{
            img{
                width: 100%;
            }
        }
        .txt{
            padding: 10px 15px 15px;
            .title{
                font-size: 24px;
                color:#000;
                display: block;
                line-height: 28px;
                margin-bottom: 10px;
            }
            .introtext{
                
            }
        }
    }
}



.item7{
    @extend .duration;
    display: block;
    border: solid 1px #ddd;
    &:hover{
        @include scale(1.05); 
        i.icon2{
            @extend .sr10x-t;
        }
    }
}
.item8{
    display: block;
    &>.inner{
        @extend .duration;
        border: solid 1px #ddd;
        display: block;
        &:hover{
            @include scale(1.05);
        }
    }
}
.item9{
    display: block;
    &>.inner{
        border: solid 1px #4270af;
        height: 132px;
        &>*{
            padding: 5px;
        }
    }
}



.dlRatio{
    @extend .duration;
}
.title1{
    &>*{
        display: block;
        margin: 0px;
        font-size: 48px;
        font-weight: 300;
    }    
}
.img1{
    display: block;
    width: 100%;
    img{
        display: block;
        width: 100%;
    }
}

.tabs1{
    @extend .duration;
    position: relative;
    overflow: hidden;
    .tab{
        @extend %hide;
        position: absolute;
        width: 100%;
        top: 0px;
        left: -100%;
        max-height: 400px;
        &.active{
            @extend %show;
            left: 0%;
            max-height: 10000px;
            &~.tab{
                left: 100%;
            }
        }
    }
}

.nav-top-section{
    position: relative;
    line-height: 1;
    z-index: 1;
}
.nav-top-section-inner{
    @extend .duration;
    overflow: hidden;
    height: 0px;
    position: relative;
    background-color: #57b230;
}
.nav-top{
    @extend .duration;
    &>ul{
        @extend %tbl;
        height: 22px;
        margin: 0px;
        padding: 0px;
        &>*{
            color: #FFF;
            padding: 0px 15px;
            position: relative;
            &:before{
                content: " ";
                position: absolute;
                display: block;
                background-color: #9ee480;
                width: 1px;
                left: 0px;
                top: 3px;
                bottom: 3px;
            }
            &:first-child{
                padding-left: 0px;
                &:before{
                    content: none;
                }
            }
           
        }
    }
}
.nav-top-control{
    display: block;
    position: absolute;
    top: 100%;
    left: 14%;
    &>*{
        @extend .duration;
        @extend .rot45z;
        display: block;
        position: relative;
        width: 42px;
        height: 42px;
        border-radius: 7px;
        background-color: #FFF;
        border: 3px solid #57b230;
        top: -24px;
        .glyphicon-chevron-down{
            @extend .rot-45z;
            display: inline-block;
            text-align: center;
            position: absolute;
            left: 21px;
            top: 20px;
            &:before{
                @extend .duration;
                color: #57b230;
                display: inline-block;
            }
        }
        &:hover{
            background-color: #57b230;
            .glyphicon-chevron-down:before{
                color: #FFF;
            }
        }
    }
    
    
    
}
.nav-top-section.active{
    .nav-top-section-inner{
        height: 38px;
    }
    .nav-top-control>*{
        background-color: #57b230;
        .glyphicon-chevron-down{
            left: 20px;
            top: 19px;
            &:before{
                @extend .rot180x;
                color: #FFF;
            }
        }
    }
}





.controls1{
    display: block;
    position: fixed;
    right: 0px;
    bottom: 0px;
    z-index: 5;
    .control{
        @extend .duration500;
        @extend %tbl;
        height: 40px;
    	margin-right: 15px;
    	margin-bottom: 15px;
    	background-color: #57b230;
        color: #FFF;
        text-decoration: none;
        font-size: 16px;
        border-radius: 3px;
        overflow: hidden;
    	&:hover{
    	    background-color: #46a11f;
    	}
    	@media(max-width: 992px){
    	    margin-right: 5px;
    	    margin-bottom: 5px; 
    	}
    	&>*{padding: 7px 10px;}
    	&.cart>*{padding: 7px 15px;}
        i{  
            @extend .duration;
            display: block;
            &.glyphicon-chevron-up{
                font-size: 18px;
                position: relative;
                top: -1px;
                img{
                    @extend .rot180x;
                    display: block;
                    
                }
            }
        }
        &.toTop{
            @extend %hide;
            width: 40px;
        	margin-right: -40px;
        	text-align: center;
        	&:hover{
            	i{
            	    @extend .st5x-t;
                }
            }
        }
        &.toTop.active{
            @extend %show;
        	margin-right: 15px;
        	@media(max-width: 992px){margin-right: 5px;}
        }
    }
}

.table2{
    line-height: 1;
}
.table2 td,.table2 th{
    height: 40px;
    vertical-align: middle;
    padding: 5px 10px;
    color: #8e8b8b;
}
.table2 td:first-child,
.table2 th:first-child{
    width: 35px;
}
.table2 td:last-child,
.table2 th:last-child{
    text-align: right;
    width: 20%;
}
.table2 td:nth-last-child(2),
.table2 th:nth-last-child(2){
    width: 20%;
}
.table2 thead th{
    color: #000;
    font-size: 18px;
    font-weight: 400;
}
.table2 td a{
    text-decoration: underline;
}
.table2 tbody tr{
    cursor: pointer;
}
.table2 tbody tr:nth-child(2n+1){
    background-color: #f2efe9;
}
.table2 tbody tr.checked{
    background-color: #e2FFd9;
}
.table2 tbody tr.checked:nth-child(2n+1){
    background-color: #d2FFc9;
}
@media(max-width: 992px){
    .table2 td a{
        text-decoration: none;
    }
}
@media(max-width: 768px){
    .table2 tbody td, .table2 thead th{
        padding: 5px;
        font-size: 14px;
    }
    .table2 td:first-child,
    .table2 th:first-child{
        width: 25px;
    }
    .table2 td:last-child,
    .table2 th:last-child{
        width: 85px;
    }
    .table2 td:nth-last-child(2),
    .table2 th:nth-last-child(2){
        width: 78px;
    }
}
.checkbox1 {
    position: relative;
    cursor: pointer;
    display: block;
    text-align: center;
    width: 14px;
    height: 14px;
    font-size: 14px;
    border: 1px solid #878787;
    line-height: 1;
}
.checkbox1 .glyphicon-ok {
    color: #000;
    display: block;
    top: -3px;
    left: 1px;
    width: 1px;
    height: 1px;
}
